{% extends "base.html" %}
{% block title %}ADE{% endblock %}
{% block content %}
<div class="container">
	<div class="card-group">
		<div class="card">
			<div class="card-header">
				Ongoing class
			</div>
			{% if not current %}
			<div class="card-body">
				<h5 class="card-title">No ongoing class</h5>
				<p class="card-text">There is no ongoing class at the moment.</p>
			</div>
			{% else %}
			<div class="card-body">
				<h5 class="card-title">{{ current.name }}</h5>
				<p class="card-text">Starting at {{ current.begin.strftime('%d-%m-%Y %H:%M') }} 
					and finishing at {{ current.end.strftime('%d-%m-%Y %H:%M') }} 
					({{ current.duration}} long).</p>
				<p class="card-text">The class is held at {{ current.location }}.</p>
			</div>
			{% endif %}
		</div>
		<div class="card">
			<div class="card-header">
				Next class
			</div>
			{% if not next %}
			<div class="card-body">
				<h5 class="card-title">No upcoming class</h5>
				<p class="card-text">There is no upcoming class at the moment.</p>
			</div>
			{% else %}
			<div class="card-body">
				<h5 class="card-title">{{ next.name }}</h5>
				<p class="card-text">Starting at {{ next.begin.strftime('%d-%m-%Y %H:%M') }} 
					and finishing at {{ next.end.strftime('%d-%m-%Y %H:%M') }} 
					({{ next.duration}} long).</p>
				<p class="card-text">The class is held at {{ next.location }}.</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
